*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

h1 {
  font-size: 2rem;

}

h2 {
  font-size: 1.75rem;

}

h3 {
  font-size: 1.5rem;

}

h4 {
  font-size: 1.25rem;

}

h5 {
  font-size: 1rem;

}

h6 {
  font-size: 0.875rem;

}