/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");

/* Feel free to add as many of these imports as you need */


/* header */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

header .menu {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(218, 218, 218);
  position: relative;
}

header #header-backgr {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 40vh;
  z-index: -0;
}

.backgr-filter {
  max-height: 40vh;
  height: 58vh;
  width: 100%;
  z-index: 1;
  position: absolute;
  box-shadow: inset -10px 60px 50px -40px rgb(255, 255, 255);
}

.header-center {
  background-color: #ebebeba3;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 3em;
  box-shadow: var(--box-shadow);
  position: absolute;
  bottom: 0px;
  align-items: center;
  z-index: 2;
}

.header-center h1 {
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-left: 20px;
}

.header-center ul {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.header-center li {
  display: flex;
  margin: 0 10px;
}

.header-center ul a {
  font-weight: 600;
  font-style: bold;
  text-decoration: none;
  color: #000000;
  z-index: 5;
}

.header-center a:hover {
  color: var(--color-secondary);
  transition: 0.2s ease 0s;
}


#logo {
  width: 15rem;
  margin: 4rem 0;
}

#shoppingCartBackgr {
  margin-top: 4px;
  padding: 5px;
  height: max-content;
}

#shoppingCartBackgr:hover {
  margin-top: 4px;
  padding: 5px;
  transition: all 0.3s ease 0s;
  filter: invert(80%) sepia(39%) saturate(3482%) hue-rotate(320deg) brightness(100%) contrast(102%);
}

.burger-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  padding: 0;
  position: absolute;
  top: 2rem;
  right: 1rem;
  /* display: none; */
}

.burger-button span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #333;
  transition: transform 0.3s, opacity 0.3s;
}

.burger-button.active span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.burger-button.active span:nth-child(2) {
  opacity: 0;
}

.burger-button.active span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}



/*-------------------------------------------------------*/

/* body */

.search-bar-center {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4em;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(41, 41, 41);
  width: fit-content;
}

.search-bar-center input {
  width: 30rem;
  height: 3rem;
  padding-left: 10px;
  border-radius: 0px;

}

.search-bar-center input[type=text]:focus {
  border-radius: 0px;
  background-color: rgb(241, 241, 241);
  transition: all 0.2s ease 0s;
}

.search-bar-center li {
  height: 3rem;
  width: 3rem;
  background-color: rgb(41, 41, 41);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
  cursor: pointer;
}

.search-bar-center li:hover {
  background-color: #ff9457;
  transition: all 0.2s ease 0s;
}

.search-bar-center a {
  display: flex;
  align-items: center;
  justify-content: center;
}


main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-center {
  width: 80vw;
  min-height: 20px;
  padding: 1rem;
  margin-top: 10%;
  box-shadow: var(--box-shadow);
  border-radius: 10px 10px;

  display: flex;
  justify-content: center;
}

.content-center {
  width: 50%;
}

.main-center h1 {
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 400;
  padding: 5px;
}

.main-center p {
  max-width: 41.667vw;
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 5px;
}



/*-------------------------------------------------------*/

/* footer */

/* common codes */
footer .menu,
.contact,
.sign-up {
  width: 20rem;
  height: 15rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 2rem;
}

footer li a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  opacity: 0.8;
}

footer li a:hover {
  text-decoration: none;
  color: var(--color-secondary);
  font-size: 0.8rem;
  opacity: 0.8;
  transition: all 0.2s ease;
}

/* ************ */



footer {
  width: 100%;
  background-color: #0a3641;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
}


.footer-align {
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.main-footer {
  display: flex;
  justify-content: center;
}

.footer-center {
  width: 75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  padding-top: 30px;
  /* background-color: red; */
}

/* --------------------------------------- */

footer .menu {
  /* background-color: rgba(255, 0, 0, 0.197); */
}

footer .menu ul {
  height: 20vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer .menu li {
  list-style: none;
}

footer .menu h4 {
  color: white;
  /* top: 2rem; */
}

/* ---------------------------------------- */
footer .contact {
  /* background-color: rgba(0, 0, 255, 0.329); */
}

footer .contact ul {
  height: 20vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer .contact li {
  list-style: none;
}

footer .contact h4 {
  color: white;
  top: 3rem;
}


/* ---------------------------------------- */
footer .sign-up {
  /* background-color: rgba(111, 255, 0, 0.14); */
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.sign-up h5 {
  color: white;
}

.email-input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(41, 41, 41, 0);
  width: fit-content;
}

#signup-input {
  width: 15rem;
  height: 2rem;
  padding-left: 10px;
  border-radius: 0px;
  border: none;
  appearance: none;
  outline: none;
  border: 1px rgba(178, 178, 178, 0.531) solid;
  background-color: transparent;
}


#signup-input:focus::placeholder {
  color: #8a8a8a;
}

#signup-input::placeholder {
  color: #bdbdbd;
  transition: color 0.3s ease;
}

.email-input li {
  height: 2rem;
  width: 2rem;
  background-color: rgb(41, 41, 41);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
  cursor: pointer;
}

.email-input a {
  display: flex;
  align-items: center;
  justify-content: center;
}


#footer-line {
  width: 75rem;
}

.space-line {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 2rem;
  width: 100%;
}

/*-------------------------------------------------------*/



/* footer buttom  */
.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-bottom-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75rem;
  bottom: 1rem;
  /* background-color: red; */
}

.sign-up li:hover {
  background-color: #ff9457;
  transition: all 0.2s ease 0s;
}

footer footer #payment-methods {
  bottom: 3rem;
  height: 1.5rem;
}

.quick-contact p {
  color: rgba(255, 255, 255, 0.625);
  font-size: 0.8rem;
}


/*-------------------------------------------------------*/


/* media query for smaller screen sizes */

@media (max-width: 600px) {
  header {
    display: flex;
  }

  header #logo {
    width: 6rem;
  }

  header .menu {
    width: 100%;
    background-color: blue;
  }

  .header-center {
    display: none;
  }

  .burger-button {}

  /* Footer */

  footer {
    height: 35rem;
    align-items: end;
  }

  .footer-align {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 35rem;
  }

  .footer-center {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: fit-content;
    justify-content: space-evenly;
    margin: 0;
    height: 30rem;
    gap: 0;
  }

  footer .menu,
  .contact,
  .sign-up {
    width: 100%;
    height: fit-content;
    gap: 0;
    height: 13rem;
    justify-content: space-evenly;
    padding-left: 1rem;
    border-bottom: 2px rgba(255, 255, 255, 0.282) solid;
  }

  footer .menu {
    justify-content: space-between;
  }

  footer .menu,
  .contact h4 {
    font-size: 0.8rem;
  }

  footer .menu ul {
    height: 7rem;
    display: flex;
    justify-content: space-evenly;
  }

  footer .contact {
    display: flex;
  }

  footer .contact h4 {
    display: flex;
    justify-content: space-between;
  }

  footer .contact ul {
    display: flex;
    justify-content: space-evenly;
    gap: 0;
    height: 7rem;
  }


  .sign-up {
    gap: 1rem;
  }

  footer li a {
    font-size: 0.8rem;
  }

  footer .menu ul {
    gap: 0;
  }

  .main-footer {
    height: 35rem;
  }


  .space-line {
    display: none;
  }

  .footer-bottom {
    height: 4rem;
  }

  .footer-bottom-center {
    padding-left: 1rem;
  }

  .quick-contact p {
    font-size: 0.5rem;
  }
}

/*-------------------------------------------------------*/

#mobile-menu-backgr {
  width: 70%;
  height: 100vh;
  background-color: gray;
}